$color-primary: #2b96f1;
$color-aside: #27272c;
$color-grey: #9d9d9d;
$color-light-blue: #f1f3fa;
$color-purple: #9a7caf;
$color-purple-lighten: #cab0dd;
$color-purple-dark: #4b365a;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

@mixin button-variant($color, $background, $border) {
    color:            $color;
    background-color: $background;
    border-color:     $border;

    &:focus,
    &.focus {
        color:            $color;
        background-color: darken($background, 10%);
        border-color:     darken($border, 10%);
    }
    &:hover {
        color:            $color;
        background-color: darken($background, 10%);
        border-color:     darken($border, 10%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color:            $color;
        background-color: darken($background, 10%);
        border-color:     darken($border, 10%);

        &:hover,
        &:focus,
        &.focus {
            color:            $color;
            background-color: darken($background, 13%);
            border-color:     darken($border, 13%);
        }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: $background;
            border-color:     $border;
        }
    }

    .badge {
        color:            $background;
        background-color: $color;
    }
}

@mixin remodal-wrapper() {
    visibility: hidden;
    position:   absolute;

    &.remodal {
        visibility: visible;
        position:   relative;
    }

    h2 {
        margin: 0 0 20px;
    }
}
