@import '_vars.scss';

.section-i18n-grid {
    form#i18n-grid-filter {
        padding: 0 0 20px;

        .field-wrapper {
            display:         flex;
            flex-wrap:       wrap;
            flex-direction:  row;
            align-items:     flex-start;
            justify-content: flex-start;
            margin:          0 -15px;

            .form-group {
                width:  calc(100% / 3 - 30px);
                margin: 10px 15px;
            }
        }
    }

    #i18n-grid {
        table {
            tbody {
                > tr {
                    > td {
                        &.input-cell {
                            position: relative;
                            overflow: auto;
                            padding:  0;

                            input {
                                display:          block;
                                position:         absolute;
                                width:            100%;
                                height:           100%;
                                padding:          0 15px 0 30px;
                                font-size:        14px;
                                line-height:      1.42857143;
                                color:            #555555;
                                background-color: transparent;
                                border:           none;
                                box-shadow:       none;
                                outline:          none;
                            }

                            &:before {
                                transition:  color 0.2s;
                                content:     '\f044';
                                display:     block;
                                position:    absolute;
                                top:         50%;
                                left:        7.5px;
                                height:      18px;
                                width:       18px;
                                margin-top:  -9px;
                                font-family: FontAwesome;
                                font-size:   18px;
                                color:       rgba(0, 0, 0, 0.15);
                            }

                            &:after {
                                transition: left 0.4s ease, background 0.2s;
                                content:    '';
                                display:    block;
                                position:   absolute;
                                height:     2px;
                                width:      100%;
                                bottom:     0;
                                left:       -100%;
                            }

                            &:hover {
                                &:before {
                                    color: rgba($color-primary, 0.5);
                                }

                                &:after {
                                    background: rgba($color-primary, 0.5);
                                    left:       0;
                                }
                            }

                            &:focus-within {
                                &:before {
                                    color: $color-primary;
                                }

                                &:after {
                                    background: $color-primary;
                                    left:       0;
                                }
                            }

                            &.changed {
                                &:before {
                                    color: green;
                                }

                                &:after {
                                    background: green;
                                    left:       0;
                                }
                            }
                        }

                        &.message-cell {
                            span {
                                color:       #777777;
                                font-size:   12px;
                                font-family: Arial, sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }

    .grid-controls {
        transition:      opacity 0.2s;
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: flex-start;
        align-items:     flex-start;
        position:        fixed;
        bottom:          0;
        right:           0;
        padding:         0 40px 40px 0;
        opacity:         0.35;
        pointer-events:  none;

        button {
            transition:    background 0.2s;
            display:       block;
            width:         60px;
            height:        60px;
            border-radius: 50%;
            margin:        0 0 0 10px;
            padding:       0;
            box-shadow:    none;
            outline:       none;
            font-size:     24px;
            border:        1px solid transparent;

            &[type="reset"] {
                color:        #27272c;
                background:   white;
                border-color: #cccccc;

                &:hover, &:active, &:focus {
                    background:   #eeeeee;
                    border-color: #cccccc;
                }
            }

            &[type="submit"] {
                color:        white;
                background:   $color-primary;
                border-color: $color-primary;

                &:hover, &:active, &:focus {
                    background:   darken($color-primary, 10);
                    border-color: darken($color-primary, 10);
                }
            }
        }
    }

    &.changed {
        .grid-controls {
            opacity:        1;
            pointer-events: all;
        }
    }
}
