@import '_vars.scss';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size:                   13px;
}

body {
    font-family:      Open Sans, Helvetica, sans-serif;
    font-size:        1rem;
    line-height:      1.42857143;
    color:            #2c2c2c;
    background-color: #f6f6f6;
}

header {
    position:   fixed;
    width:      100%;
    height:     60px;
    left:       0;
    top:        0;
    background: $color-aside;
    z-index:    20;

    nav {
        display:         flex;
        flex-wrap:       nowrap;
        flex-direction:  row;
        justify-content: space-between;
        align-items:     stretch;
        width:           100%;
        height:          100%;

        > button.menu-toggle {
            display:         flex;
            flex-direction:  column;
            flex-wrap:       nowrap;
            justify-content: center;
            align-items:     center;
            background:      transparent;
            border:          0;
            padding:         15px;
            outline:         none;
            color:           #dddddd;
            visibility:      hidden;
            position:        absolute;
            left:            -9999px;
            cursor:          pointer;

            .bar {
                transition:    transform 0.2s, opacity 0.2s;
                display:       block;
                width:         22px;
                height:        2px;
                margin:        2px 0;
                background:    white;
                border-radius: 2px;
            }
        }

        > a.logo {
            transition:      background 0.2s;
            display:         flex;
            flex-direction:  column;
            flex-wrap:       nowrap;
            justify-content: center;
            align-items:     center;
            width:           260px;
            max-height:      100%;
            height:          60px;
            background:      transparent;
            text-decoration: none;

            > img {
                display:    block;
                max-width:  200px;
                max-height: 100%;
                margin:     0 auto;
                height:     auto;
                width:      auto;
            }

            &:hover, &:active, &:focus {
                background:      rgba(white, 0.075);
                text-decoration: none;
            }
        }

        > ul {
            list-style:      none;
            padding:         0;
            margin:          0;
            display:         flex;
            flex-direction:  row;
            flex-wrap:       nowrap;
            justify-content: flex-start;
            align-items:     stretch;

            > li {
                > a {
                    transition:      background 0.2s;
                    display:         flex;
                    flex-direction:  column;
                    flex-wrap:       nowrap;
                    justify-content: center;
                    align-items:     center;
                    height:          100%;
                    padding:         10px;
                    background:      transparent;
                    text-decoration: none;
                    color:           white;

                    &:hover, &:active, &:focus {
                        background:      rgba(white, 0.075);
                        text-decoration: none;
                        color:           #dddddd;
                    }
                }

                &.active {
                    > a {
                        background:      $color-primary;
                        color:           white;
                        text-decoration: none;
                    }
                }
            }

            &.language-switch {
                flex-grow:       1;
                flex-basis:      0;
                justify-content: flex-end;

                > li {
                    > a {
                        span.icon {
                            i.fa {
                                font-size: 24px;
                            }
                        }

                        span.name {
                            display:        inline-block;
                            margin:         0;
                            text-transform: uppercase;
                        }
                    }
                }
            }

            &.navigation {
                > li {
                    > a {
                    }

                    &.profile-link {
                        > a {
                            display:         flex;
                            flex-direction:  row;
                            flex-wrap:       nowrap;
                            justify-content: center;
                            align-items:     center;
                            padding:         10px 20px;

                            .avatar {
                                display:         flex;
                                flex-direction:  column;
                                flex-wrap:       nowrap;
                                justify-content: center;
                                align-items:     center;
                                width:           40px;
                                height:          40px;
                                border-radius:   20px;
                                margin-right:    10px;
                                background:      #cccccc;
                                overflow:        hidden;

                                img {
                                    display:    block;
                                    min-width:  100%;
                                    min-height: 100%;
                                    width:      auto;
                                    height:     auto;
                                }
                            }

                            .name {
                                display:       inline-block;
                                white-space:   nowrap;
                                max-width:     140px;
                                overflow:      hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }

                    &.dropdown {
                        > ul.dropdown-menu {
                            list-style:    none;
                            margin:        20px 0 0 0;
                            padding:       0;
                            min-width:     200px;
                            border-radius: 0;
                            border:        0;
                            box-shadow:    0 0 5px rgba(0, 0, 0, 0.25);

                            > li {
                                > a {
                                    display:         block;
                                    position:        relative;
                                    background:      white;
                                    color:           #2c2c2c;
                                    padding:         7.5px 20px 7.5px 35px;
                                    outline:         none;
                                    text-decoration: none;
                                    font-size:       14px;

                                    &:before {
                                        display:     block;
                                        position:    absolute;
                                        font-family: FontAwesome;
                                        color:       rgba(#2c2c2c, 0.35);
                                        left:        2.5px;
                                        width:       30px;
                                        height:      100%;
                                        text-align:  center;
                                    }

                                    &:hover, &:active, &:focus {
                                        background: $color-primary;
                                        color:      white;

                                        &:before {
                                            color: white;
                                        }
                                    }
                                }

                                &.divider {
                                    margin:  3px 0;
                                    padding: 0;
                                }

                                &:first-child {
                                    > a {
                                        &:after {
                                            content:    '';
                                            position:   absolute;
                                            display:    block;
                                            width:      20px;
                                            height:     20px;
                                            background: white;
                                            right:      20px;
                                            transform:  rotate(45deg);
                                            top:        -10px;
                                            box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.075);
                                        }

                                        &:hover, &:active, &:focus {
                                            &:after {
                                                background: $color-primary;
                                            }
                                        }
                                    }
                                }

                                &.active {
                                    > a {
                                        background: $color-primary;
                                        color:      white;

                                        &:before {
                                            color: white;
                                        }

                                        &:after {
                                            background: $color-primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: $screen-sm-max) {
        nav {
            > a.logo {
                width: 225px;
            }
        }
    }

    @media(max-width: $screen-xs-max) {
        height: 50px;

        nav {
            > button.menu-toggle {
                visibility: visible;
                position:   relative;
                left:       auto;
            }

            > a.logo {
                flex-grow: 1;
                width:     100%;
                padding:   10px;

                img {
                    max-width: 100%;
                }
            }

            > ul.navigation {
                flex-shrink: 0;

                > li {
                    &.profile-link {
                        > a {
                            padding: 10px;

                            .avatar {
                                margin-right: 0;
                            }

                            .name {
                                display: none;
                            }
                        }
                    }

                    &.dropdown {
                        > ul.dropdown-menu {
                            right: 5px;
                        }
                    }
                }
            }
        }
    }
}

.page-wrapper {
    display:         flex;
    position:        relative;
    padding:         60px 0 0;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: flex-start;
    align-items:     flex-start;
    height:          100vh;

    aside {
        display:    flex;
        position:   relative;
        width:      260px;
        height:     100%;
        background: $color-aside;
        color:      #dddddd;
        padding:    20px 0;
        box-shadow: 0 0 5px $color-aside;
        z-index:    10;
        overflow:   auto;

        > ul {
            display:    block;
            width:      100%;
            list-style: none;
            padding:    0;
            margin:     0;

            > li {
                > a {
                    position:        relative;
                    display:         block;
                    font-size:       16px;
                    font-weight:     400;
                    height:          40px;
                    line-height:     40px;
                    text-decoration: none;
                    padding:         0 7.5px 0 50px;
                    outline:         none;
                    color:           #dddddd;
                    background:      $color-aside;

                    &:before {
                        position:    absolute;
                        display:     block;
                        font-family: FontAwesome;
                        left:        15px;
                        width:       30px;
                        height:      40px;
                        line-height: 40px;
                        text-align:  center;
                    }

                    &:hover, &:active, &:focus {
                        color:           lighten(#dddddd, 15);
                        background:      darken($color-aside, 5);
                        text-decoration: none;
                    }
                }

                &.dropdown {
                    > a {

                    }

                    > ul {
                        display:       none;
                        position:      relative;
                        float:         none;
                        margin:        0;
                        padding:       0;
                        border:        0;
                        border-radius: 0;
                        box-shadow:    none;

                        > li {
                            > a {
                                position:    relative;
                                height:      35px;
                                line-height: 35px;
                                padding:     0 35px 0 25px;
                                outline:     none;
                                color:       rgba(#dddddd, 0.75);
                                background:  darken($color-aside, 5);

                                .badge {
                                    position:   absolute;
                                    min-width:  16px;
                                    top:        7.5px;
                                    right:      7.5px;
                                    padding:    3px 5px;
                                    color:      white;
                                    background: $color-primary;
                                }

                                &:hover, &:active, &:focus {
                                    color:      #dddddd;
                                    background: darken($color-aside, 10);
                                }
                            }

                            &.active {
                                > a {
                                    color:      white;
                                    background: $color-primary;

                                    .badge {
                                        color:      $color-primary;
                                        background: white;
                                    }

                                    &:hover, &:active, &:focus {
                                        color:      white;
                                        background: $color-primary;
                                    }
                                }
                            }
                        }
                    }
                }

                &.active {
                    > a {
                        color:           lighten(#dddddd, 15);
                        background:      darken($color-aside, 5);
                        text-decoration: none;
                    }

                    &.dropdown {
                        > a {

                        }

                        > ul {
                            display: block;
                        }
                    }
                }

                &.disabled {
                    > a {
                        color:  #888888;
                        cursor: default;

                        &:hover, &:active, &:focus {
                            color:           #888888;
                            background:      $color-aside;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    main {
        height:   100%;
        width:    calc(100% - 260px);
        overflow: auto;

        nav {
            margin: 15px 0 0;
        }

        h1 {
            display:       block;
            margin:        20px 0 10px;
            font-weight:   300;
            border-bottom: 2px solid darken(#f6f6f6, 10);

            span {
                display:       inline-block;
                padding:       0 0 10px;
                border-bottom: 2px solid $color-primary;
                margin-bottom: -2px;
            }
        }
    }

    @media(max-width: $screen-sm-max) {
        aside {
            width: 225px;

            > ul {
                > li {
                    > a {
                    }

                    &.dropdown {
                        > ul {
                            > li {
                                > a {
                                }
                            }
                        }
                    }
                }
            }
        }

        main {
            width: calc(100% - 225px);
        }
    }

    @media(max-width: $screen-xs-max) {
        padding: 50px 0 0;

        aside {
            transition:  left 0.2s, opacity 0.2s;
            visibility:  hidden;
            opacity:     0;
            position:    absolute;
            left:        -200px;
            top:         50px;
            height:      calc(100vh - 50px);
            will-change: left, opacity;

            > ul {
                > li {
                    > a {

                    }

                    &.dropdown {
                        > a {
                            &:after {
                                right: 2px;
                            }
                        }
                    }
                }
            }
        }

        main {
            transition:  transform 0.2s;
            width:       100%;
            will-change: transform;

            h1 {
            }

            &:after {
                transition:  opacity 0.2s;
                content:     '';
                visibility:  hidden;
                display:     block;
                position:    fixed;
                top:         0;
                left:        0;
                background:  #f6f6f6;
                width:       10000%;
                height:      10000%;
                opacity:     0;
                z-index:     10000;
                will-change: opacity;
            }
        }
    }
}

body.menu-opened-process {
    @media(max-width: $screen-xs-max) {
        header {
        }

        aside {
            left:    -200px;
            opacity: 0;
        }

        .page-wrapper {
            main {
                transform: translateX(0);

                &:after {
                    opacity: 0;
                }
            }
        }
    }
}

body.menu-opened {
    @media(max-width: $screen-xs-max) {
        header {
            nav {
                > button.menu-toggle {
                    .bar {
                        &:nth-child(1) {
                            transform: rotate(45deg) translate(4px, 4px);
                        }

                        &:nth-child(2) {
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            transform: rotate(-45deg) translate(4px, -4px);
                        }
                    }
                }
            }
        }

        aside {
            opacity: 1;
            left:    0;
        }

        .page-wrapper {
            main {
                transform: translateX(225px);
                overflow:  hidden;

                &:after {
                    opacity: 0.75;
                }
            }
        }
    }
}

body.menu-opened, body.menu-opened-process {
    @media(max-width: $screen-xs-max) {
        overflow: hidden;

        header {
        }

        aside {
            visibility: visible;
        }

        .page-wrapper {
            main {
                overflow:    hidden;
                user-select: none !important;

                * {
                    user-select: none !important;
                }

                &:after {
                    visibility: visible;
                    cursor:     pointer;
                }
            }
        }
    }
}

.btn-primary {
    @include button-variant(white, $color-primary, darken($color-primary, 5));
}

.alert {
    padding:    15px 25px;
    text-align: justify;
}

p.controls {
    margin: 0 0 20px;
}

.grid-view {
    table.table {
        font-size: 12px;

        thead {
            tr {
                th {
                    padding:   0;
                    position:  relative;
                    min-width: 100px;

                    input, select {
                        display:    block;
                        border:     0;
                        padding:    7.5px 12.5px;
                        background: transparent;
                        width:      100%;
                        font-size:  11px;

                        &:hover {
                            &:not(:disabled) {
                                outline: -webkit-focus-ring-color auto 5px;
                            }
                        }
                    }

                    input {
                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            -moz-appearance:    none;
                            margin:             0;
                        }
                    }

                    select {
                        padding-right:      25px;
                        -webkit-appearance: none;
                        -moz-appearance:    none;

                        option[value=""] {
                            color: #555555;
                        }
                    }

                    a {
                        display:         block;
                        position:        absolute;
                        font-size:       0;
                        top:             0;
                        right:           0;
                        font-weight:     400;
                        text-transform:  none;
                        text-decoration: none;

                        &:before {
                            content:     '\f0dc';
                            display:     block;
                            height:      100%;
                            width:       24px;
                            color:       #aaaaaa;
                            font-family: FontAwesome;
                            font-size:   12px;
                            line-height: 30px;
                            text-align:  center;
                        }

                        &.asc {
                            &:before {
                                content: '\f15d';
                                color:   #007bff;
                            }
                        }

                        &.desc {
                            &:before {
                                content: '\f15e';
                                color:   #007bff;
                            }
                        }

                        &:hover {
                            &:before {
                                color: #007bff;
                            }
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 7.5px 12.5px;
                }
            }
        }
    }
}

.modal {
    visibility:    hidden;
    position:      absolute;
    max-width:     480px;
    padding:       0;
    border-radius: 6px;
    box-shadow:    0 0 20px rgba(0, 0, 0, 0.75);
    background:    transparent;
    text-align:    left;

    &.remodal {
        visibility: visible;
        position:   relative;
    }

    .header {
        position:       relative;
        background:     $color-primary;
        margin:         0;
        padding:        12.5px;
        font-size:      15px;
        line-height:    1;
        font-weight:    400;
        color:          white;
        text-transform: uppercase;

        a[data-remodal-action="close"] {
            display:         flex;
            flex-direction:  row;
            flex-wrap:       nowrap;
            justify-content: center;
            align-items:     center;
            position:        absolute;
            top:             7px;
            right:           7px;
            width:           24px;
            height:          24px;
            border:          1px solid white;
            border-radius:   50%;

            svg {
                width:  10px;
                height: 10px;

                use {
                    fill: white;
                }
            }

            &:hover {
                svg {
                    transition: transform 0.2s;
                    transform:  rotate(90deg);
                }
            }
        }
    }

    .content {
        padding:    10px;
        background: white;

        .form-group {
            display:         flex;
            flex-direction:  row;
            flex-wrap:       nowrap;
            justify-content: flex-start;
            align-items:     stretch;
            border-radius:   4px;
            overflow:        hidden;
            border:          1px solid #dddddd;
            margin:          0 0 7.5px;

            > label {
                display:      block;
                width:        25%;
                margin:       0;
                padding:      7.5px;
                font-weight:  700;
                font-size:    14px;
                line-height:  20px;
                color:        #737273;
                border-right: 1px solid #dddddd;

                &[for] {
                    cursor: pointer;
                }
            }

            > .field {
                width:      75%;
                padding:    5px;
                background: #f8f8f8;

                input[type="text"]:not(.select2-search__field),
                input[type="email"]:not(.select2-search__field),
                input[type="tel"]:not(.select2-search__field),
                input[type="password"]:not(.select2-search__field),
                textarea,
                select:not(.multiselect) {
                    display:       block;
                    width:         100%;
                    border:        1px solid #dddddd;
                    border-radius: 2px;
                    margin:        0;
                    padding:       2px 5px;
                    font-size:     13px;
                    line-height:   18px;
                }

                select:not(.multiselect) {
                    padding: 5px;
                    cursor:  pointer;
                }

                textarea {
                    resize: vertical;
                }

                .radio-group {
                    display:         flex;
                    flex-direction:  row;
                    flex-wrap:       nowrap;
                    justify-content: flex-start;
                    align-items:     flex-start;
                    border-radius:   4px;
                    overflow:        hidden;

                    > label {
                        background:     $color-aside;
                        font-size:      13px;
                        line-height:    20px;
                        padding:        5px;
                        color:          white;
                        flex-basis:     0;
                        flex-grow:      1;
                        margin:         0;
                        text-transform: uppercase;
                        cursor:         pointer;
                        outline:        none;
                        text-align:     center;

                        input[type="radio"] {
                            display:  block;
                            position: absolute;
                            width:    1px;
                            height:   1px;
                            bottom:   0;
                            left:     50%;
                            opacity:  0;
                        }
                    }
                }

                label.checkbox {
                    margin:  0;
                    padding: 0 0 0 5px;

                    input[type="checkbox"] {
                        position: relative;
                        top:      2px;
                    }

                    span {
                        font-size:   12px;
                        line-height: 16px;
                        padding:     0 0 0 3px;
                        color:       #555555;
                    }
                }

                .notice {
                    margin:      5px 0 0;
                    font-size:   12px;
                    line-height: 16px;
                    color:       #888888;
                }

                .form-group-input {
                    position: relative;

                    .show-password {
                        transition:  color 0.2s;
                        display:     block;
                        position:    absolute;
                        top:         0;
                        right:       0;
                        width:       28px;
                        height:      23px;
                        line-height: 23px;
                        background:  transparent;
                        border:      0;
                        border-left: 1px solid #d5d5d5;
                        text-align:  center;
                        font-size:   12px;
                        color:       #555555;
                        cursor:      pointer;

                        &:hover, &:active, &:focus {
                            color: #000000;
                        }
                    }
                }
            }
        }
    }

    .footer {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: space-between;
        align-items:     center;
        margin:          0;
        padding:         7.5px 12.5px;
        background:      #f8f8f8;
        border-top:      1px solid #dddddd;

        .error {
            font-size:   12px;
            padding:     10px 20px 10px 5px;
            color:       #aa0000;
            line-height: 1.2;
        }

        button {
            transition:     background 0.2s;
            background:     $color-primary;
            display:        block;
            position:       relative;
            font-size:      14px;
            line-height:    16px;
            font-weight:    400;
            color:          white;
            border:         0;
            border-radius:  6px;
            text-transform: uppercase;
            overflow:       hidden;
            padding:        10px;
            cursor:         pointer;
            outline:        none;
            flex-shrink:    0;

            &:hover, &:active, &:focus {
                background: darken($color-primary, 10);
            }
        }
    }

    &.waiting {
        position:    relative;
        user-select: none;

        &:before {
            content:    '';
            display:    block;
            position:   absolute;
            width:      100%;
            height:     100%;
            top:        0;
            left:       0;
            background: rgba(0, 0, 0, 0.35);
            z-index:    1;
        }

        &:after {
            content:           '';
            display:           block;
            position:          absolute;
            width:             56px;
            height:            56px;
            border-radius:     50%;
            border:            4px solid white;
            border-left-color: transparent;
            top:               calc(50% - 30px);
            left:              calc(50% - 30px);
            z-index:           2;
            -webkit-animation: fa-spin 0.6s infinite linear;
            animation:         fa-spin 0.6s infinite linear;
        }
    }
}
