@import "_vars.scss";

.section-user-form {
    form {
        max-width: 640px;

        .img-wrapper {
            margin:       0 0 30px;
            padding-left: 140px;
            text-align:   center;

            .img {
                transition:          opacity 0.2s;
                display:             block;
                position:            relative;
                width:               240px;
                height:              240px;
                border-radius:       120px;
                margin:              0 auto;
                background-size:     cover;
                background-repeat:   no-repeat;
                background-position: center center;
                background-image:    url(img/no-avatar-big.png);
                box-shadow:          0 0 5px #888888;

                &:hover, &:focus, &:active {
                    opacity: 0.9;
                    cursor:  pointer;
                }

                &:before {
                    transition:  opacity 0.2s;
                    content:     '\f00d';
                    display:     block;
                    position:    absolute;
                    top:         50%;
                    left:        50%;
                    transform:   translate(-50%, -50%);
                    font-family: FontAwesome;
                    font-size:   80px;
                    color:       red;
                    opacity:     0;
                }
            }

            .controls {
                max-width: 220px;
                margin:    20px auto 0;

                .btn-change-image {
                    transition:  opacity 0.2s;
                    margin:      0;
                    font-weight: 400;

                    input[type="file"] {
                        display: none;
                    }
                }

                .btn-delete-image {
                    margin:      5px 0 0;
                    font-weight: 400;

                    input[type="checkbox"] {
                        display: none;
                    }
                }
            }

            &.delete {
                .img {
                    pointer-events: none;
                    opacity:        0.75;

                    &:before {
                        opacity: 1;
                    }
                }

                .controls {
                    .btn-change-image {
                        pointer-events: none;
                        opacity:        0.75;
                    }
                }
            }
        }

        @media(max-width: $screen-xs-max) {
            .img-wrapper {
                padding-left: 0;

                .img {
                    width:  200px;
                    height: 200px;
                }
            }
        }
    }
}
